@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lato:wght@300&family=Noto+Color+Emoji:wght@400&display=swap');
@font-face {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/SquareScreamYT/sf-fonts/master/SF-Pro-Rounded-Light.otf") format("opentype");
}

html {
  height: 100%;
  width: 100%;
  overflow-x:hidden
}

body {
  background-color: #f8f9fa;
  color: #343a40;
  font-family: "Nunito", "SF Pro Rounded", "Apple Color Emoji", "Noto Color Emoji", "Lato", system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
  margin: 0;
  padding-left: 2vh;
  padding-right: 2vh; 
  padding-top: 2vh;
  padding-bottom: 2vh;
  transition: background-color 0.3s ease;
}

h1, p {
  font-family: "Nunito", "SF Pro Rounded", "Apple Color Emoji", "Noto Color Emoji", "Lato", system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
  line-height: 1.5;
  color: #343a40;
  margin: 10px;
}

.emoji-box {
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 5px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: fit-content;
  width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  overflow-x: visible;
  padding-right: 5px;
}

.emoji-button {
  font-family: "Nunito", "SF Pro Rounded", "Apple Color Emoji", "Noto Color Emoji", "Lato", system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 5px;
  box-sizing: border-box;
  padding: 5px;
  background-color: #f8f9fa;
  color: #343a40;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: 2px solid #ced4da;
  height: 100px;
  height: 120px;
}

.emoji-button img {
  width: 32px;
  height: 32px;
}

.emoji-button span {
  font-size: 10px;
  margin-top: 5px;
  text-align: center;
}